<div ng-include="'comps/common/topbar.html'">

</div>

<!-- Modal -->
<div class="modal fade" id="showDeudaModal" tabindex="-1" role="dialog" aria-labelledby="showDeudaModalLabel" aria-hidden="true">
  <div class="modal-dialog mw-100 modal-90" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #399CDF;color: white; font-weight: bold;">
        <h5 class="modal-title" id="showDeudaModalLabel">VER DEUDA <i class="fas fa-1x fa-list-alt"></i> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="mb-1"><span class="text-muted">Fecha de entrega: </span> {{avisoAct.fecha_aviso}}</p>
        <table datatable="ng" dt-options="dtOptionsAviso"  class="table table-striped table-bordered" >
          <thead>
            <tr>
                <th scope="col"><p class="text-center">Tipo documento</p></th>
                <th scope="col"><p class="text-center">Nº aviso</p></th>
                <th scope="col"><p class="text-center">Fecha documento</p></th>
                <th scope="col"><p class="text-center">Fecha vencimiento</p></th>
                <th scope="col"><p class="text-center">Monto original</p></th>
                <th scope="col"><p class="text-center">Monto actual</p></th>
                <th scope="col"><p class="text-center">Fecha entrega</p></th>
              </tr>
            </thead>
            <tbody>

              <tr  ng-repeat="x in listFact"   >
                <td><p class="text-left">{{ x.nombre_tipo_doc }}</p></td>
                <td><p class="text-left">{{ x.no_fisico }}</p></td>
                <td><p class="text-left">{{ x.fecha_documento }}</p></td>
                <td><p class="text-left">{{ x.fecha_vencimiento }}</p></td>
                <td><p class="text-right">{{ formato(2,x.monto_inicial) }}</p></td>
                <td><p class="text-right">{{ formato(2,x.monto_actual) }}</p></td>
                <td><p class="text-left">{{ x.fecha_entrega }}</p></td>

              </tr>


            </tbody>
          </table>

      <div class="modal-footer">
        <button type="button" class="btn btn-info" style="background: #212529;" data-dismiss="modal">Regresar</button>
      </div>
    </div>
  </div>
</div>
</div>

<div id="wrapper" class="toggled">
  <my-sidebar></my-sidebar>

  <div id="page-content-wrapper" class="container-fluid">
    <div class="row" style="min-height:80vh">


      <div class="col-md-12 col-sm-12">
        <nav aria-label="breadcrumb" role="navigation">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a class="text-success" >{{window.location.hostname}}</a></li>
            <li class="breadcrumb-item"><a class="text-info" href="#!/home">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Deudas</li>
          </ol>
        </nav>
        <header-client></header-client>

        <div ng-show="!hasUserClient">
          <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-12">
              <div class="card " >
                <div class="card-body">
                  <h5 class="card-title">Búsqueda por cliente </h5>
    
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="exampleRadios" ng-model="tipoBusquedaCliente" id="exampleRadios1" ng-value="0" selected >
                    <label class="form-check-label" for="exampleRadios1">
                      Búsqueda por cliente
                    </label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="radio" name="exampleRadios" ng-model="tipoBusquedaCliente" id="exampleRadios2" ng-value="1" >
                    <label class="form-check-label" for="exampleRadios2">
                      Búsqueda por empleado
                    </label>
                  </div>
    
                  <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                      <!-- <label for="clientes">Busqueda por cliente</label> -->
                      <div class="input-group mb-3">
                        <input type="text" id="clientes"
                        class="form-control"
                        ng-keydown="$event.keyCode === 13 && getClientNew(true)"
                        ng-model="nombre_cliente"
                        placeholder="Búsqueda por cliente"
                        aria-label="Búsqueda por cliente"
                        aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary"  ng-click="getClientNew(true)" type="button">Buscar</button>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6" ng-show="clientes.length > 0" >
                      <div class="form-group">
                        <!-- <label for="exampleFormControlSelect1">Seleccione</label> -->
                        <select class="form-control" ng-model="clientIndex" id="exampleFormControlSelect1" ng-focus="clientIndex = null" ng-change="selectCLient()">
                          <option ng-repeat="x in clientes" value="{{$index}}">{{x.nombre_cliente}}</option>
                          <option value="" disabled selected>Seleccione un cliente</option>
                        </select>
                      </div>
                    </div>
    
                  </div>
    
                </div>
              </div>
            </div>
    
          </div>
    
          <div ng-if="clientIndex != null">
            <header-client cliente="client" ></header-client>
          </div>
    
    
    
        </div>


      <div class="col-md-12 mt-10 mb-10"  ng-show="tieneReg">  
        <div class="card " >
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">

              </div>
              <div class="col-md-12">

                <div class="">
                  <div ng-if="!aplica_corte">

                    <ul class="nav nav-tabs mb-4">
                        <li class="nav-item">
                          <a class="nav-link " ng-class="{ active : tabsIndex == 0 }" ng-click="goToTab(0)" >Detalle<span class="badge badge-secondary">1</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" ng-class="{ active : tabsIndex == 1  }" ng-click="goToTab(1)" >Vencimiento<span class="badge badge-secondary">2</span></a>
                        </li>
                    </ul>
                    <div ng-show="tabsIndex == 0"  class="">

                      <table datatable="ng"  dt-options="dtOptions" class="table table-striped table-bordered" >
                        <thead>
                          <tr>


                            <th scope="col"><p class="text-center">Tipo documento</p></th>
                            <th scope="col"><p class="text-center">Nº físico</p></th>
                            <th scope="col"><p class="text-center">Fecha documento</p></th>
                            <th scope="col"><p class="text-center">Fecha vencimiento</p></th>
                            <th scope="col"><p class="text-center">Saldo</p></th>

                            </tr>
                          </thead>
                          <tbody>

                            <tr  ng-repeat="x in listFact"   >
                              <td><p class="text-left">{{ x.nombre_tipo_doc }}</p></td>
                              <td><p class="text-left">{{ x.no_fisico }}</p></td>
                              <td><p class="text-left">{{ x.fecha_documento }}</p></td>
                              <td><p class="text-left">{{ x.fecha_vencimiento }}</p></td>
                              <td><p class="text-right">{{ formato(2,x.monto_actual) }}</p></td>
                              
                              </tr>


                            </tbody>
                          </table>
                    </div>

                    <div  ng-show="tabsIndex == 1"   >
                      <table datatable="ng"  dt-options="dtOptions" class="table table-striped table-bordered" >
                        <thead>
                          <tr>

                            <th scope="col"><p class="text-center">Fecha vencimiento</p></th>
                            <th scope="col"><p class="text-center">Saldo Bs.</p></th>
                            <th scope="col"><p class="text-center">Saldo USD</p></th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr  ng-repeat="x in vencimiento"   >
                            <!-- <td><p class="text-center">{{ x.no_fisico }}</p></td> -->
                            <td><p class="text-left">{{ x.fecha_vencimiento }}</p></td>
                            <td><p class="text-right">{{ formato(2,x.saldo) }}</p></td>
                            <td><p class="text-right">{{ formato(1,x.saldo_usd) }}</p></td>
                            <!-- <td><p class="text-center">{{ x.nombre_tipo_doc }}</p></td> -->
                          </tr>


                        </tbody>
                      </table>

                    </div>
                  </div>

                  <div ng-if="aplica_corte">
                    <table datatable="ng"  dt-options="dtOptions"  class="table table-striped table-bordered" >
                      <thead>
                        <tr>

                          <th scope="col"><p class="text-center">Fecha </p></th>
                          <th scope="col"><p class="text-center">Fecha vencimiento</p></th>
                          <th scope="col"><p class="text-center">Nº Documento</p></th>
                          <th scope="col"><p class="text-center">Saldo</p></th>
                            <th scope="col"><p class="text-center">Opciones</p></th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr  ng-repeat="x in listAvisos"   >
                            <td><p class="text-left">{{ x.fecha_aviso }}</p></td>
                            <td><p class="text-left">{{ x.fecha_vencimiento }}</p></td>
                            <td><p class="text-left">{{ x.docu_aviso }}</p></td>
                            <td><p class="text-right">{{ formato(2,x.saldo) }}</p></td>

                              <td>
                                <i class="fa fa-eye" style="cursor: pointer;"   ng-click="selectAviso(x)"  data-toggle="modal" data-target="#showDeudaModal"  ></i>
                              </td>
                            </tr>


                          </tbody>
                        </table>


                  </div>
                </div>



                </div>

              </div>

          </div>
        </div>
      </div>

    </div>


    </div>
  </div>

</div>

<my-footer></my-footer>

<div ng-show="loading">
  <my-loading></my-loading>
</div>
