<div class="" ng-show="hasUserClient || inputClient">

<div class="col-md-12">
  <div class="user" >
  <!-- <h2>{{$ctrl.numero}})</h2>
  Nombre: {{$ctrl.usuario.name}}
  <br>
  Email: {{$ctrl.usuario.email}}
</div> -->
  <div class="alert alert-danger"  ng-show="!clienteValido" role="alert">
    Advertencia:
    <strong>{{clientInvalidoMsg}} </strong>
  </div>
</div>

  <div class="row " style="margin-bottom: 15px;" >

      <div class="col-md-6" style="padding: 0px !important;">
        <div id="card-left" class="card card-min " >
          <div class="card-info-header">
            Información del cliente

            <button type="button" class="close"  aria-label="Close" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
              <span aria-hidden="true">-</span>
            </button>
          </div>
          <div class="card-body " id="collapseInfo"  >

            <!-- <h6 class="card-title">Información del Cliente </h6> -->
            <p class="mb-1" ng-if="client_info.grupo_cliente != '02'" ><span class="text-muted">Razón social: </span>{{client_info.nombre_cliente}}</p>
            <p class="mb-1"><span ng-if="client_info.grupo_cliente == '01'" class="text-muted">RIF: </span> <span ng-if="client_info.grupo_cliente == '02'" class="text-muted">C.I.: </span> {{client_info.docu_identif_cliente}}</p>
            <p class="mb-1"><span class="text-muted">Dirección fiscal: </span> {{client_info.direccion_cliente}}</p>
            <!-- <p class="mb-1"><span class="text-muted">Zona: </span>{{client_info.zona}}</p> -->
            <!-- <p class="mb-1"><span class="text-muted">Telefono: </span>{{client_info.telefono1}}</p> -->
            <!-- <p class="mb-1" style="text-transform: capitalize;"><span class="text-muted">Encargado: </span> {{client_info.nombre_encargado.toLowerCase()}}</p> -->
          </div>
        </div>
      </div>
      <div id="card-rigth" class="col-md-6" style="padding-right: 0px !important;" >

        <div class="card card-min" >
          <div class="card-info-header">
            Detalles del cliente

            <button type="button" class="close" aria-label="Close" data-toggle="collapse" data-target="#collapseDetalle" aria-expanded="false" aria-controls="collapseDetalle">
              <span aria-hidden="true">-</span>
            </button>
          </div>
          <div class="card-body  " id="collapseDetalle" >

            <!-- <h6 class="card-title">Detalles del Cliente</h6> -->
            <p class="mb-1"><span class="text-muted"> Código{{ (client_info.grupo_cliente == "02") ?  " de empleado:":":" }} </span> {{client_info.cod_cliente}}</p>
            <p class="mb-1" ng-if="client_info.grupo_cliente =='02'" ><span class="text-muted"> Nombre empleado:</span> {{client_info.nombre_cliente}}</p>
            <p class="mb-1"><span class="text-muted">Tipo de venta: </span> {{client_info.tipo_venta}}</p>
            <p class="mb-1"><span class="text-muted">Plazo: </span> {{client_info.v_plazo}} días</p>
            <p class="mb-1" ng-if="client_info.limite_credito != null && client_info.limite_credito != ''"><span class="text-muted">Límite de crédito: </span> {{formato(2,client_info.limite_credito)}}</p>
            <p class="mb-1" ng-if="creditoClient.disp_bs_format != null && creditoClient.disp_bs_format != '0'"><span class="text-muted">Límite disponible: </span> {{formato(2,creditoClient.disp_bs_format)}}</p>
            <!-- <p class="mb-1" ng-if="client_info.grupo_cliente == '02'" ><span class="text-muted"  >Total unidades facturadas del mes: </span> {{client_info.unid_fact_med_emp}}</p> -->
            <!-- <p class="mb-1" ng-if="client_info.grupo_cliente == '02'" ><span class="text-muted"  >Saldo en unidades: </span> {{client_info.unid_disp_med_emp}}</p> -->
            <p class="mb-1" ng-if="client_info.grupo_cliente == '02'" ><span class="text-muted"  >Disp. en medicinas: </span> {{client_info.unid_disp_med_emp}}</p>
            <p class="mb-1" ng-if="client_info.grupo_cliente == '02'" ><span class="text-muted"  >Disp. en misceláneos: </span> {{client_info.unid_disp_misc_emp}}</p>
            <p class="mb-1"  ng-if="client_info.grupo_cliente != '02'"  ><span class="text-muted">Vendedor: </span> <span style="text-transform: capitalize;">{{client_info.vendedor.toLowerCase()}}</span></p>
            <p class="mb-1"  ng-if="client_info.grupo_cliente != '02'"  ><span class="text-muted">Email vendedor: </span> {{client_info.email_vendedor.toLowerCase()}}</p>
            <p class="mb-1"  ng-if="client_info.grupo_cliente != '02'" ><span class="text-muted">Analista de cobranzas: </span> <span style="text-transform: capitalize;">{{client_info.v_persona_cyc.toLowerCase()}}</span> </p>
            <p class="mb-1"  ng-if="client_info.grupo_cliente != '02'" ><span class="text-muted">Email analista: </span> {{client_info.email_persona_cyc.toLowerCase()}}</p>
          </div>
        </div>
      </div>


  </div>



 </div>
