<div ng-include="'comps/common/topbar.html'">

</div>



<div id="wrapper" class="toggled">

  <my-sidebar></my-sidebar>
<div  id="page-content-wrapper" class="container-fluid">
  <div class="row" style="min-height:80vh">

    <div class="col-md-12 col-sm-12">

      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a class="text-success" >Droguería del Oeste.com</a></li>
          <li class="breadcrumb-item"><a class="text-info" href="#!/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Clientes</li>
        </ol>
      </nav>

      <div class="container-fluid">



        <div class="col-md-12 mt-10 mb-10">

          <div class="card " >
            <div class="card-body">
              <h5 class="card-title">Búsqueda</h5>

              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="exampleRadios" ng-model="tipoBusquedaCliente" id="exampleRadios1" ng-value="0" >
                <label class="form-check-label" for="exampleRadios1">
                  Búsqueda por cliente
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="radio" name="exampleRadios" ng-model="tipoBusquedaCliente" id="exampleRadios2" ng-value="1" >
                <label class="form-check-label" for="exampleRadios2">
                  Búsqueda por empleado
                </label>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <!-- <label for="clientes">Búsqueda por cliente</label> -->
                  <div class="input-group mb-3">
                    <input type="text" id="clientes"
                    class="form-control"
                    ng-keydown="$event.keyCode === 13 && getClientNew(true)"
                    ng-model="nombre_cliente"
                    placeholder="Búsqueda por cliente"
                    aria-label="Búsqueda por cliente"
                    aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary"  ng-click="getClientNew(true)" type="button">Buscar</button>
                    </div>
                  </div>
                </div>


              </div>

            </div>
          </div>

          <div class="card " >
            <div class="card-body">
              <div class="col-md-12">


                <!-- <table class="table table-striped table-bordered"  datatable="ng" dt-options="dtOptiones"> -->
                  <table class="table table-striped table-bordered" datatable="ng" dt-options="dtOptions" >
                  <thead>
                    <tr>

                      <th scope="col"><p class="text-center">Código</p></th>
                      <th scope="col"><p class="text-center">Nombre</p></th>
                      <th scope="col"><p class="text-center">Documento de identificación</p></th>
                      <th scope="col"><p class="text-center">Zona</p></th>
                      <th scope="col"><p class="text-center">Dirección fiscal</p></th>
                      <th scope="col"><p class="text-center">Dirección de entrega</p></th>
                      <th scope="col"><p class="text-center">Nombre del encargado</p></th>
                      <th scope="col"><p class="text-center">Teléfono</p></th>
                      <th scope="col"><p class="text-center">Email</p></th>


                      </tr>
                    </thead>
                    <tbody>

                      <tr  ng-repeat="x in clientes"   >

                        <td><p class="text-center">{{ x.cod_cliente }}</p></td>
                        <td><p class="text-center">{{ x.nombre_cliente }}</p></td>
                        <td><p class="text-center">{{ x.docu_identif_cliente }}</p></td>
                        <td><p class="text-center">{{ x.zona }}</p></td>
                        <td><p class="text-center">{{ x.direccion_cliente }}</p></td>
                        <td><p class="text-center">{{ x.direccion_entrega_cliente }}</p></td>
                        <td><p class="text-center">{{ x.nombre_encargado }}</p></td>
                        <td><p class="text-center">{{ x.telefono1 }}</p></td>
                        <td><p class="text-center">{{ x.email1 }}</p></td>

                    </tr>


                      </tbody>
                    </table>


              </div>

            </div>
          </div>

        </div>

      </div>

  </div>


</div>
</div>
</div>
<my-footer></my-footer>
<div ng-show="loading">
  <!-- <my-loading></my-loading> -->
</div>
