
<div ng-include="'comps/common/topbar.html'">

</div>

<div class="modal fade" id="modalConfirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirmación</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

      </div>
      <div class="modal-body">

        <div class="container">

          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h3><p class="text-center">¿Desea eliminar el registro?</p></h3>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Regresar</button>
        <button type="button" class="btn btn-danger" ng-click="delUser()" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #399CDF;color: white; font-weight: bold;">
        <h5 class="modal-title" id="addUserModalLabel">{{ modalTitle }} <i class="fas fa-1x fa-user"></i> </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
              <a class="nav-link " ng-class="{ active : tabsIndex == 0 }" ng-click="goToTab(0)" >Información usuario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-class="{ active : tabsIndex == 1 }"  ng-click="goToTab(1)" >Permisos</a>
            </li>
        </ul>

      <form>

        <div ng-show="tabsIndex == 0">
          <label><strong>Tipo de usuario:</strong> </label>
          <!--<input type="text" ng-model="user_view.role" class="form-control" placeholder="Tipo de usuario">-->

          <select class="form-control form-control-sm" ng-disabled="!(typeview == 'add' || typeview == 'edit')" ng-model="user.role">

            <option ng-if="clientIndex != null" ng-repeat="type in type_user" value="{{type.type}}">
              {{type.text | uppercase}}
            </option>
            <option value="seller" ng-if="(userLogged.role == 'sisAdm' || userLogged.role == 'root') && clientIndex == null" style="text-transform: capitalize;" >Vendedor</option>
            <option value="sisAdm" ng-if="(userLogged.role == 'sisAdm' || userLogged.role == 'root') && clientIndex == null" style="text-transform: capitalize;" >Administrador de sistema</option>
            <option value="" disabled selected>Selecciona un tipo de usuario</option>
          </select>

            <div class="form-group">
              <label> <strong>Nombre:</strong> </label><br>
              <input type="text" ng-model="user.name" class="form-control" ng-if="typeview == 'add' || typeview == 'edit'" placeholder="Nombre">
              <span ng-if="typeview == 'view'" >{{user.name}}</span>
            </div>
            

            <div class="form-group">
              <label> <strong> Email:</strong></label><br>
              <span ng-if="typeview == 'view'"  >{{user.email}}</span>
              <input type="email" ng-model="user.email"   ng-if="typeview == 'add' || typeview == 'edit'" ng-disabled="typeview == 'edit'"  class="form-control" required placeholder="Email">

            </div>
            <div  ng-show="!emailValid" class="invalid-feedback">
              Por favor, elija un email valido.
            </div>

            <div class="form-group">
              <label><strong>Nombre de usuario:</strong></label><br>
              <span ng-if="typeview == 'view'"  >{{user.username}}</span>
              <input type="text" ng-model="user.username"  ng-if="typeview == 'add' || typeview == 'edit'" ng-disabled="typeview == 'edit'"  class="form-control" placeholder="Nombre de dusuario">

            </div>
            <div ng-show="!usernameValid" class="invalid-feedback">
              Por favor, elija un nombre de usuario.
            </div>

            <label><strong>Estatus:</strong></label>
            <!--<input type="text" ng-model="user_view.role" class="form-control" placeholder="Tipo de usuario">-->
            <select class="form-control form-control-sm" ng-disabled="!(typeview == 'add' || typeview == 'edit')"  ng-model="user.estatus">

              <option ng-repeat="type in estatus_user" value="{{type.text}}">
                {{type.text | uppercase}}
              </option>
              <option value="" disabled selected>Selecciona el estatus</option>
            </select>

        </div>

        <div class=""  ng-show="tabsIndex == 1">
          <table class="table table-inverse">
            <thead>
              <tr>
                <th>Módulo</th>
                <th>Ver</th>
                <th>Crear</th>
                <th>Modificar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>

              <tr  ng-repeat="x in modulos"  ng-show="validaAccess(x)" >
                <th scope="row" style="text-transform: capitalize;" >{{x}}</th>
                <td>
                  <div class="form-check" ng-if="typeview == 'add' || typeview == 'edit'" >
                    <input type="checkbox" class="form-check-input" ng-model="permisos[x].ver" ng-disabled="!hasOwnProp(x,'ver')"  >
                  </div>
                  <span ng-if="typeview == 'view' && permisos[x].ver" ><i class="fas fa-check"></i></span>
                </td>
                <td>
                  <div class="form-check" ng-if="typeview == 'add' || typeview == 'edit' && hasOwnProp(x,'crear')"  >
                    <input type="checkbox" class="form-check-input" ng-model="permisos[x].crear" ng-disabled="!hasOwnProp(x,'crear')" >
                  </div>
                  <span ng-if="typeview == 'view' && permisos[x].crear" ><i class="fas fa-check"></i></span>
                </td>
                <td>
                  <div class="form-check" ng-if="typeview == 'add' || typeview == 'edit' && hasOwnProp(x,'editar')"  >
                    <input type="checkbox" class="form-check-input"  ng-model="permisos[x].editar" ng-disabled="!hasOwnProp(x,'editar')" >
                  </div>
                  <span ng-if="typeview == 'view' && permisos[x].editar" ><i class="fas fa-check"></i></span>
                </td>
                <td>
                  <div class="form-check"ng-if="typeview == 'add' || typeview == 'edit' && hasOwnProp(x,'eliminar')"  >
                    <input type="checkbox" class="form-check-input" ng-model="permisos[x].eliminar" ng-disabled="!hasOwnProp(x,'eliminar')" >
                  </div>
                  <span ng-if="typeview == 'view' && permisos[x].eliminar" ><i class="fas fa-check"></i></span>
                </td>
              </tr>

            </tbody>
          </table>

        </div>



        </form>
      </div>
      <div class="modal-footer" style="display: block;margin: 0 auto;">
        <button type="button"  class="btn btn-primary" ng-if=" userLogged.permisos.usuario.editar && typeview == 'view'" ng-click="goToEdit();">Editar</button>
        <button type="submit" class="btn btn-primary" ng-click="addUser(user);"  ng-if="typeview == 'add'"  >Guardar</button>
        <button type="submit" class="btn btn-success" ng-click="updUser(user);"  ng-if="typeview == 'edit'" >Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addUser(user);">Cerrar</button> -->
      </div>
    </div>
  </div>
</div>


<div id="wrapper" class="toggled">
  <my-sidebar></my-sidebar>
  <div id="page-content-wrapper" class="container-fluid">


        <div class="col-md-12 col-sm-12">
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item"><a class="text-success" >Droguería del Oeste.com</a></li>
              <li class="breadcrumb-item"><a class="text-info" href="#!/home">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
            </ol>
          </nav>
    <header-client></header-client>

    <div ng-show="!hasUserClient">
      <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-12">
          <div class="card " >
            <div class="card-body">
              <h5 class="card-title">Búsqueda por cliente </h5>
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <!-- <label for="clientes">Búsqueda por cliente</label> -->
                  <div class="input-group mb-3">
                    <input type="text" id="clientes"
                    class="form-control"
                    ng-keydown="$event.keyCode === 13 && getClientNew(true)"
                    ng-model="nombre_cliente"
                    placeholder="Búsqueda por cliente"
                    aria-label="Búsqueda por cliente"
                    aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary"  ng-click="getClientNew(true)" type="button">Buscar</button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6" ng-show="clientes.length > 0" >
                  <div class="form-group">
                    <!-- <label for="exampleFormControlSelect1">Seleccione</label> -->
                    <select class="form-control" ng-model="clientIndex" id="exampleFormControlSelect1" ng-focus="clientIndex = null" ng-change="selectCLient()">
                      <option ng-repeat="x in clientes" value="{{$index}}">{{x.nombre_cliente}}</option>
                      <option value="" disabled selected>Seleccione un cliente</option>
                    </select>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

      <div ng-if="clientIndex != null">
        <header-client cliente="client" ></header-client>
      </div>



    </div>


    <div class="col-md-12 mt-10 mb-10">
      <div class="card " >
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">

              <button class="btn btn-primary" style="font-weight: bold;margin-bottom: 1rem;" ng-if="userLogged.permisos.usuario.crear" data-toggle="modal" ng-click="createUser()" data-target="#addUserModal"> <i class="fas fa-pencil"></i> CREAR USUARIO <i class="fas fa-1x fa-user"></i></button>

              <div class="row">
                <div class="col-md-12">

                  <table datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered" >
                    <thead>
                      <tr>
                        <th scope="col"><p class="text-center">#</p></th>
                        <th scope="col"><p class="text-center">Usuario</p></th>
                        <th scope="col"><p class="text-center">Nombre</p></th>
                        <!-- <th scope="col"><p class="text-center">Tipo</p></th> -->
                        <!-- <th scope="col"><p class="text-center">Estatus</p></th> -->

                        <!-- <th scope="col"><p class="text-center">Nombre vendedor</p></th> -->
                        <!-- <th scope="col"><p class="text-center">Email vendedor</p></th> -->
                        <th scope="col"><p class="text-center">Opciones</p></th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr  ng-repeat="x in usuarios"  >
                        <td><p class="text-center">{{ $index + 1 }}</p></td>
                        <td><p class="text-center">{{ x.username }}</p></td>
                        <td><p class="text-center">{{ x.name }}</p></td>
                        <!-- <td><p class="text-center">{{ x.role }}</p></td> -->
                        <!-- <td><p class="text-center">{{ x.status }}</p></td> -->


                        <!-- <td><p class="text-center">{{ facturasList[fact][0].nombre_vendedor }}</p></td> -->
                        <!-- <td><p class="text-center">{{  facturasList[fact][0].email_vendedor }}</p></td> -->
                        <td>
                          <i class="fa fa-eye" style="cursor: pointer;"  ng-click="getUser(x.username)"  data-toggle="modal" data-target="#addUserModal" ></i>
                          <i class="fa fa-trash" style="cursor: pointer;" data-toggle="modal" ng-if="userLogged.permisos.usuario.eliminar" data-target="#modalConfirm" ng-click="confirmModal(x.username);"  ></i>
                        </td>
                      </tr>


                    </tbody>
                  </table>

                </div>

              </div>

            </div>

          </div>
        </div>
        </div>
    </div>



      </div>

  </div>
</div>
<my-footer></my-footer>
<div ng-show="loading">
  <my-loading></my-loading>
</div>
