
<div >

    <div ng-include="'comps/common/topbar.html'">
  
    </div>
  
  
    <div id="wrapper" class="toggled">
  
      <my-sidebar></my-sidebar>
      <div  id="page-content-wrapper" class="container-fluid">
  
        <div class="col-md-12 col-sm-12">
  
          <!-- <br>
            <h5 class="text-center"> <strong>HOME</strong> </h5>
            <h2 class="text-center"> <strong>{{client_info.nombre_cliente}}</strong> </h2> -->
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a class="text-success" >Droguería del Oeste</a></li>
                <!-- <li class="breadcrumb-item"><a class="text-info" href="#!/home">Home</a></li> -->
                <li class="breadcrumb-item active" aria-current="page">Inicio</li>
                <li class="breadcrumb-item"><a class="text-info" href="#!/home">{{client_info.nombre_cliente}}</a></li>
  
              </ol>
            </nav>
  
            <div class="container-fluid">
  
                <div class="col-md-6 mt-10 mb-10">
                    <div class="card " >
                        <div class="card-info-header">
                         entorno
                        </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
              
                            <!-- <button class="btn btn-primary" style="font-weight: bold;margin-bottom: 1rem;" data-toggle="modal" ng-click="createUser()" data-target="#addUserModal"> <i class="fas fa-pencil"></i> CREAR USUARIO <i class="fas fa-1x fa-user"></i></button> -->
              
                            <div class="">
                              <div class="col-md-12" >
              
                                <div class="tab-pane active in" id="home">

                                    <div class="col-md-12">
                                        <label for="tipoBusqueda">Base de datos</label>
                                        <div class="input-group mb-3 ">
                                          <div class="form-group">
                                            <select class="form-control " ng-model="conf.entorno" id="entorno">
                                                <option ng-repeat="x in listBD" value="{{x.nombre}}">{{x.nombre}}</option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>

                                </div>
              
              
                                
              
                              </div>
              
                            </div>
                            <button type="button" class="btn btn-success" ng-click="updEnviroment()"c >Actualizar</button>
                          </div>
              
                        </div>
                      </div>
                      </div>
                    </div>
  
              </div>
  
            </div>
  
          </div>
        </div>
  
        <my-footer></my-footer>
        <my-loading></my-loading>
  </div>
  